@import "../../styles/variables";

.top-level {
  background: $secondary;
  padding: 50px 0;
  text-align: center;
}
.second-level {
  margin-top: 50px;
}

.add-task {
  text-align: center;
}

.add-tasks {
  margin-bottom: 20px;
}

.todo-list {
  color: none;
}

.table-col-span {
  text-align: center;
}

.error-message {
  margin-bottom: 20px;
}

.success-message {
  margin-bottom: 20px;
}

.add-btn {
  border-radius: 0;
}
